// Colors
$purple: #7a325d
$primary: $purple
$black: #202020

@import '../node_modules/bulma/bulma'



.navbar-bg
  background-color: $black
  .nav
    background-color: $black
  .title
    color: #686868
    font-weight: 600

.twitter
  color: #55acee !important // Override bulma
  border-color: #55acee

.github
  color: $black !important // Override bulma
  border-color: $black
  
.queryDialog
  grid-area: main
  min-height: 180px
  margin: 10px

.interaction
  grid-area: main
  min-height: 180px
  margin: 10px
  
.logDisplay
  grid-area: log
  overflow-y: auto
  margin: 10px
  
.partySummary
  grid-area: summary
  margin: 10px

.battleSummary
  grid-area: summary
  margin: 10px

.battleSummary .heading
  font-size: 1.5em

.mainPage
  display: grid
  
@media (max-width: 800px)
  .mainPage
    grid-template-areas: "main" "summary" "log"
  .interaction .prompt
    min-width: 100%
  
@media (min-width: 800px)
  .mainPage
    grid-template-areas: "main log" "summary log" ". log"

@media (min-width: 800px)
  .interaction .prompt
    min-width: 600px

@media (min-width: 1100px)
  .interaction .prompt
    min-width: 900px

@media (min-width: 1400px)
  .interaction .prompt
    min-width: 1200px

button
  margin: 3px