// Colors
$purple: #7a325d
$primary: $purple
$black: #202020

html, body, #elmish-app
  display: inline-block // prevent margin collapse which will make vertical scrollbar appear for no reason, see https://stackoverflow.com/questions/12989931/body-height-100-displaying-vertical-scrollbar
  width: 100%
  height: 100%
  box-sizing: border-box
#elmish-app
  padding: 1vw

.charGen
    width: 100%
    height: 100%
    box-sizing: border-box
    // layout: grid.layoutit.com?id=mnmti5C
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 0.4fr 0.9fr 1.7fr
    gap: 0px 0px
    grid-auto-flow: row
    grid-template-areas: ". Title ." "middle middle middle" "footer footer footer"

.charGen
    font-size: x-large
    .Title
        grid-area: Title
    .footer
        grid-area: footer
    .middle
      border-style: solid
      padding: 0.5em
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.5fr 1.6fr 0.4fr
      gap: 0px 0px
      grid-template-areas: "characterHeader" "assignedStats" "statRolls"
      grid-area: middle

    .assignedStats
      display: grid
      grid-template-columns: 0.5fr 1.4fr
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
      gap: 0px 0px
      grid-template-areas:        ". ."        ". ."        ". ."        ". ."        ". ."        ". ."
      grid-area: assignedStats
    .characterHeader
        font-size: xx-large
        grid-area: characterHeader
    .statRolls
      margin-top: 1em
      display: flex
      grid-auto-flow: column
      grid-template-columns: 20em 1.3fr
      grid-template-rows: 1fr
      gap: 0px 0px
      grid-template-areas: ". ."
      grid-area: statRolls

      span
        padding: 0.1em
        margin: 0.3em
      .roll
        width: 2em
        text-align: center
        border-style: solid



