// CSS resets per Kevin Powell

*, *::before, *::after
    box-sizing: border-box

*
    margin: 0
    padding: 0
    font: inherit

html
    color-scheme: dark light

body
    min-height: 100vh

img, picture, svg, video
    display: block
    max-width: 100%

// ShiningSword-specific logic here

body
    padding: 5px

.title
    font-weight: bold
    font-size: 1.6rem

.subtitle
    font-weight: bold
    font-size: 1.2rem

.footnote
    font-size: 0.7rem
    font-style: italic
    margin-left: 1rem
    vertical-align: top

.visualGroup
    min-height: 1.1rem

.gridContainer
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr))

input[type=checkbox]
    padding: 3px 3px 3px 4px

button, input[type=checkbox]
    min-width: 1.5rem

.character
    .header
        display: flex
        fieldset.reroll
            display: inline-block
            flex: 1
            margin-left: auto
            margin-right: auto
    .selection
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(100px, auto))
        column-gap: 0.875rem
        user-select: none
        legend
            grid-column: 1/-1
    .traitview
        user-select: none
        .aggregate
            padding: 0.5rem
            margin-bottom: 0.5rem
            .aggregate
                columns: 2 250px
                column-rule: 1px solid #ccc
        .activeChoice
            display: inline-block
        .potentialChoice,.activeChoice
            button
                font-size: 0.8rem
                margin: -2px 2px // don't want vertical margin to make the row wiggle when button appears
            .potentialChoice
                padding-left: 1rem
            .subchoice
                padding-left: 1rem

.vertFlex
    display: inline-flex
    flex-direction: column
    min-height: 100%
    max-height: 100%

.placeholder
    border: thin solid red

fieldset
    padding: 4px
    legend
        font-size: 1.1rem
        font-weight: bold
        padding: 0 0.3rem
