// Colors
$purple: #7a325d
$primary: $purple
$black: #202020

html, body, #feliz-app
  display: inline-block // prevent margin collapse which will make vertical scrollbar appear for no reason, see https://stackoverflow.com/questions/12989931/body-height-100-displaying-vertical-scrollbar
  width: 100%
  height: 100%
  box-sizing: border-box
  margin: 0px
#feliz-app
    display: flex
    flex-direction: column

.charGen
    width: 100%
    height: 100%
    box-sizing: border-box
    // layout: grid.layoutit.com?id=mnmti5C
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 0.4fr 0.9fr 1.7fr
    gap: 0px 0px
    grid-auto-flow: row
    grid-template-areas: ". Title ." "middle middle middle" "footer footer footer"

.charGen
    user-select: none
    font-size: large
    .Title
        grid-area: Title
    .footer
        grid-area: footer
        .choice
            margin-top: 0.2em
            label, span
                margin-right: 1em
        .plainTrait
            margin-right: 0.5em
            margin-left: 0.5em
    .middle
      border-style: solid
      padding: 0.5em
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 0.5fr 1.6fr 0.4fr
      gap: 0px 0px
      grid-template-areas: "characterHeader" "assignedStats" "statRolls"
      grid-area: middle

    .assignedStats
      display: grid
      grid-template-columns: 0.5fr 1.4fr
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
      gap: 0px 0px
      grid-template-areas:        ". ."        ". ."        ". ."        ". ."        ". ."        ". ."
      grid-area: assignedStats
      .button1
        position: absolute
        left: 70px
        width: 2em
      .button2
        position: absolute
        left: 120px
        width: 2em
    .characterHeader
        grid-area: characterHeader
        .title
            font-size: xx-large
            input
                font-size: xx-large
                margin-right: 1em
        .details
            margin: 10px 0px 10px 40px
            label
                margin-right: 2em
    .statRolls
      margin-top: 1em
      display: flex
      align-items: center
      grid-area: statRolls

      .label
        margin-right: 1em
      .roll
        padding: 0.1em
        margin: 0.3em
        width: 2em
        text-align: center
        border-style: solid
        span
            border-box: content-box
            min-height: 1em

.hide
    visibility: hidden


.intro
    margin: 1vw
    flex-grow: 1
    .footer
        position: absolute
        bottom: 0
