// CSS resets per Kevin Powell

*, *::before, *::after
    box-sizing: border-box

*
    margin: 0
    padding: 0

html
    color-scheme: dark light

body
    min-height: 100vh

img, picture, svg, video
    display: block
    max-width: 100%

// Arena-specific logic here

button
    background-color: orange

.srcLink
    max-width: 6em
    float: right
    background-color: white
