source https://nuget.org/api/v2

storage:none

nuget Expecto
nuget Expecto.FsCheck
nuget Fable.Elmish.HMR
nuget Fable.Fetch
nuget Fable.Promise
nuget Feliz
nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget FSharpPlus

clitool dotnet-fable
nuget Thoth.Json.Net
nuget YoloDev.Expecto.TestSdk 0.9.2
nuget Zanaptak.TypedCssClasses